// Storing colors and fonts in Sass Variables.

$blue: skyblue;
$photographyBlue: hsl(198, 62%, 26%);
$green: hsl(167, 40%, 24%);
$lightGreen: hsl(168, 34%, 41%);
$black: #000;
$white: #fff;
$grey: #B4C4C0;
$yellow: hsl(51, 100%, 49%);
$red: hsl(7, 99%, 70%);
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$font-stack: "Ubuntu", Arial;